// ----------------------------------------------------------------------------
// Elements - Blockquote
// ----------------------------------------------------------------------------

blockquote {
  font-style: italic;
  padding-left: vr-rem(3);

  cite {
    font-style: normal;

    &::before {
      content: '—\00a0';
    }
  }
}
