// ----------------------------------------------------------------------------
// Elements - Images
// @credit https://github.com/inuitcss/base.images
// ----------------------------------------------------------------------------


// Fluid images for responsive purposes.
// ------------------------------------

img {
  display: block;
  max-width: 100%;
  height: auto;
}

