// ----------------------------------------------------------------------------
// Elements - Lists
// ----------------------------------------------------------------------------


ul,
ol {
  margin-bottom: vr-rem(3);
  padding-left: vr-rem(4);
}

dt {
  font-weight: $font-weight-normal;
}


// Reset styles for list contained in nav tag.
// ------------------------------------

nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
